<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://learning-cosmosdb-lsm.documents.azure.com:443" />
        <add key="accountKey" value="hl58LQxtuPzcLFwme6HI9ZlyyPtobX4EThslq68fzcEhcizSAih9uEb05gxSslbZSepkma34T7AGiaIgMsAhgQ==" />
      </appSettings>
</configuration>