<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://learning-modules-lsm.documents.azure.com:443/" />
        <add key="accountKey" value="zYZ2uG91u9UI86FmT8lwyvDlsgJ9DFvnJX2cYIYBTNEkVlwIBDFJoEAuVa9hF28UgPBNSn49JOQqywa2ws9qzA==" />
      </appSettings>
</configuration>